.footer {
	background: $color-white;
	display: flex;
	justify-content: center;
	z-index: 1;
	width: 100%;
	max-height: 100vh;
	padding-top: 40px;

	&__img {
		width: 100%;
		max-width: 512px;
	}
}

.bth__down {
	position: fixed;
	z-index: 20;
	bottom: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-red;
	background: transparent;
	opacity: 0;
	transition: opacity $duration-normal $easing-back-out,
		background-color $duration-normal $easing-back-out;

	& svg {
		width: 10px;

		@include desktop {
			width: 18px;
		}
	}

	@include hover {
		background-color: $color-red;
	}

	@include desktop {
		bottom: auto;
		top: 89vh;
		right: 30px;
		width: 48px;
		height: 48px;
	}

	&.is-shown {
		opacity: 1;
	}

}
