.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2100;
	padding: 30px 0;

	&__menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		overflow: hidden;
		overflow-y: auto;
		margin: 0;
		padding-top: 60px;
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		// stylelint-disable-next-line
		height: calc(var(--vh));
		color: $color-black;
		font-size: 26px;
		line-height: 31px;
		font-weight: bold;
		background-color: $color-white;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100%);
		transition: $duration-normal;
		-webkit-overflow-scrolling: touch;

		&-icon {
			display: block;
			margin: auto auto 0 auto;
			width: 100%;
			max-width: 1000px;
			opacity: 0;
			transition: 1s $easing-back-out $duration-normal;
		}

		@include active {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);

				& img {
					opacity: 1;
				}
		}
	}
	

	&__list {
		width: 100%;
	}

	&__link {
		position: relative;
		display: flex;
		justify-content: left;
		margin: 0 auto;
		padding: 20px 30px;
		text-align: left;
		// @include sprite-background-image("active");
		// Не работает

		@include hover {
			color: $color-black;
		}

	}

	&__burger {
		position: relative;
		z-index: 100;
		box-sizing: content-box;
		flex-direction: column;
		margin-left: auto;
		width: 25px;
		padding: 10px 10px 10px 10px;
		margin-right: -10px;
		color: $color-black;
		transition: $duration-normal $easing-back-out;
		
		span {
			display: block;
			margin: (4px/2) 0;
			width: 100%;
			height: 2px;
			background-color: currentColor;
			transition: $duration-normal $easing-back-out $duration-normal;
		}

		@include active {
			transform: rotate(180deg);
			transform-origin: center;

			span {
				transition: $duration-normal $easing-back-out;
				&:first-child {
					transform: translate(0, 6px) rotate(-45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:last-child {
					transform: translate(0, -6px) rotate(45deg);
				}
			}
		}

	
	}
}
