.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 30px;
	z-index: 2100;

	@include desktop {
		top: 0px;
	}

	&__menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		overflow: hidden;
		overflow-y: auto;
		margin: 0;
		padding-top: 60px;
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		// stylelint-disable-next-line
		height: calc(var(--vh));
		color: $color-black;
		font-size: 26px;
		line-height: 31px;
		font-weight: bold;
		background-color: $color-white;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100%);
		transition: $duration-normal;
		-webkit-overflow-scrolling: touch;

		@include desktop {
			display: none;
		}

		&-icon {
			display: block;
			margin: auto auto 0 auto;
			width: 100%;
			max-width: 1000px;
			opacity: 0;
			transition: 1s $easing-back-out $duration-normal;

			@include desktop {
				display: none;
			}
		}

		@include active {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);

			& img {
				opacity: 1;
			}
		}
	}

	&__list {
		width: 100%;
	}

	&__link {
		position: relative;
		display: flex;
		justify-content: left;
		margin: 0 auto;
		padding: 20px vm(20);
		text-align: left;

		// @include sprite-background-image("active");
		// Не работает
		@include tablet {
			padding: 20px vm(50);
		}
	}

	&__burger {
		position: relative;
		z-index: 100;
		box-sizing: content-box;
		flex-direction: column;
		margin-left: auto;
		width: 25px;
		padding: 10px 10px 10px 10px;
		margin-right: -10px;
		color: $color-black;
		transition: $duration-normal $easing-back-out;

		@include desktop {
			display: none;
		}

		span {
			display: block;
			margin: (4px/2) 0;
			width: 100%;
			height: 2px;
			background-color: currentColor;
			transition: $duration-normal $easing-back-out $duration-normal;
		}

		@include active {
			transform: rotate(180deg);
			transform-origin: center;

			span {
				transition: $duration-normal $easing-back-out;

				&:first-child {
					transform: translate(0, 6px) rotate(-45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:last-child {
					transform: translate(0, -6px) rotate(45deg);
				}
			}
		}
	}

	&__nav--desktop {
		display: none;

		@include desktop {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__nav-list {
		@include desktop {
			display: flex;
			justify-content: space-between;
			width: 25%;
			background-color: $color-white;
		}

		@include laptop {
			width: 40%;
		}
	}

	&__nav-link {
		@include desktop {
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			color: $color-black;
			padding: 100px 0 25px 0px;
			position: relative;

			& span {
				position: relative;
				z-index: 2;
			}

			&::after {
				content: "";
				position: absolute;
				height: 155px;
				width: 105px;
				bottom: 0;
				left: 0;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("../images/active.svg");
				z-index: 1;
				opacity: 0;
				pointer-events: none;
				transition: 1s $easing-back-out $duration-normal;
			}

			&:hover::after {
				opacity: 1;
			}

			&.is-active::after {
				opacity: 1;
			}
		}
	}
}
