-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#resume',
					name: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: [
				{
					name :'fb',
					url: '/',
				},
				{
					name :'vk',
					url: '/',
				},	
				{
					name :'tg',
					url: '/',
				}	
			],
			
		},

		job:{
			title : 'Опыт работы',
			list: [
				{
					period: 'Июль 2020',
					name: 'Frontend-разработчик',
					company: 'Артфактор',
					icon: 'icon/small-br.svg',
					logo: `sprites/png/logo`,
					description: 'Интернет-агенство в Санкт-Петербурге',
					bigdescription: 'Верстка и программирование сайтов на Wordpress и Bitrix, поддержка старых сайтов',
					linkslist: [
						{
							link: 'https://kzgroup.ru/',
							namelink: 'Сайт Кировского завода'
						},
						
					]
				},
				{
					period: 'Июнь 2019 - Июль 2020',
					name: 'Фриланс',
					company: '',
					icon: 'icon/small-br1.svg',
					logo: '',
					description: '',
					bigdescription: 'Разработка сайтов под ключ, дизайн, верстка, натяжка на Wordress',
					linkslist: [
						{
							link: 'https://dmcomposer.com/',
							namelink: 'Сайт для композитора'
						},
						{
							link: 'https://millennium-corporation.com',
							namelink: 'Millennium corporation'
						},
						
						
					]
				}
			],
		},

		study: {
			title : 'Образование',
			list: [
				{
					icon: 'big-br.svg',
					name: 'Interface Design: Web & Mobile',
					desc: 'IT-Academy, 2020',
				},
				{
					icon: 'big-br.svg',
					name: 'Interface Design: Web & Mobile',
					desc: 'IT-Academy, 2020',
				},
				{
					icon: 'big-br.svg',
					name: 'Interface Design: Web & Mobile',
					desc: 'IT-Academy, 2020',
				},
				{
					icon: 'big-br.svg',
					name: 'Interface Design: Web & Mobile',
					desc: 'IT-Academy, 2020',
				},
				{
					icon: 'big-br.svg',
					name: 'Interface Design: Web & Mobile',
					desc: 'IT-Academy, 2020',
				},
			]
		},

		skills: {
			title : 'Навыки',
			list: [
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
				{
					name: 'Adobe Creative Suite',
					desc: 'Photoshop, Illustrator, InDesign, XD, After Effects',
				},
			]
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
