-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#resume',
					name: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: [
				{
					name :'fb',
					url: '/',
				},
				{
					name :'vk',
					url: '/',
				},	
				{
					name :'tg',
					url: '/',
				}	
			],	
		},

		title: 'Екатерина, ',
		jobname: 'Frontend-разработчик',
		description: 'Всегда ответственно отношусь к поставленной задаче и довожу начатое дело до конца. К каждому проекту подхожу с творческим энтузиазмом, мне интересно оживлять сайты анимацией, именно от этого я получаю удовольствие. Хотя работать с CMS мне так же интересно, но в меньшей степени.) Хочется развиваться во фронтенде, изучить WEBGL и подобные технологии.',
		mail: 'katyazanina95@gmail.com',
		phone:	'+7(950)900 71 40',
		phonelink:	'+79509007140',
		city: 'г. Тула',
		job:{
			title : 'Опыт работы',
			list: [
				{
					period: 'Июль 2020',
					name: 'Frontend-разработчик',
					company: 'Артфактор',
					icon: 'icon/small-br.svg',
					logo: `sprites/png/logo`,
					description: 'Интернет-агенство в Санкт-Петербурге',
					bigdescription: 'Верстка и программирование сайтов на Wordpress и Bitrix, поддержка старых сайтов',
					linkslist: [
						{
							link: 'https://kzgroup.ru/',
							namelink: 'Сайт Кировского завода'
						},
						
					]
				},
				{
					period: 'Июнь 2019 - Июль 2020',
					name: 'Фриланс',
					company: '',
					icon: 'icon/small-br1.svg',
					logo: '',
					description: '',
					bigdescription: 'Разработка сайтов под ключ, дизайн, верстка, натяжка на Wordress',
					linkslist: [
						{
							link: 'https://dmcomposer.com/',
							namelink: 'Сайт для композитора'
						},
						{
							link: 'https://millennium-corporation.com',
							namelink: 'Millennium corporation'
						},
						
						
					]
				}
			],
		},

		study: {
			title : 'Образование',
			list: [
				{
					icon: 'big-br.svg',
					name: 'Frontend разработка',
					desc: 'Самообучение, 2019-...',
				},
				{
					icon: 'big-y.svg',
					name: 'Полный курс по JavaScript',
					desc: 'Udemy, 2021',
				},
				{
					icon: 'big-b.svg',
					name: 'Битрикс',
					desc: 'Курсы от Bitrix, 2021',
				},
				{
					icon: 'big-r.svg',
					name: 'Interface Design',
					desc: 'WDI, 2020',
				},
				{
					icon: 'big-g.svg',
					name: 'HTML&CSS, JS',
					desc: 'HTML-Academy, 2019',
				},
				{
					icon: 'big-o.svg',
					name: 'Стратегический менеджент',
					desc: 'БГТУ им. Шухова, 2013 - 2019',
				},
			]
		},

		skills: {
			title : 'Навыки',
			list: [
				{
					name: 'Develop',
					desc: 'HTML, CSS(SCSS), JavaScript(ES6+), PHP',
				},
				{
					name: 'CMS',
					desc: 'Wordpress, Bitrix',
				},
				{
					name: 'Additional',
					desc: 'Git, Gulp',
				},
				{
					name: 'Design',
					desc: 'UX/UI design, Illustrator, Figma, Photoshop',
				},
				{
					name: 'Languages',
					desc: 'Conversational English and Native Russian and Ukrainian',
				},
				
			]
		}
	};
script.
	window.data = {
		//- home: window.location.href,
		title: 'Екатерина, Frontend-разработчик',
		desc: 'Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя. Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.',
		img: 'images/share.png',
	};
